@tailwind base;
@tailwind components;
@tailwind utilities;


/* global styles */
body, 
html{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;

    @apply bg-Blue-900;
}